<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_question</key>
		<integer>0</integer>
		<key>question</key>
		<integer>0</integer>
		<key>trademark</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_C.ss04.ss05</key>
	<dict>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Hbar</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_J</key>
	<dict>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>questiondown.ss02</key>
		<integer>-100</integer>
		<key>questiondown.ss02.ss04</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-100</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_heart</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>braceleft.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Lcaron</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>slash</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Oslash</key>
	<dict>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_R.ss03</key>
	<dict>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>asciicircum.case</key>
		<integer>-100</integer>
		<key>asciitilde</key>
		<integer>-100</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>braceleft.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Thorn</key>
	<dict>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_V.ss03</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_J.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>dcaron</key>
		<integer>0</integer>
		<key>dcroat.ss04</key>
		<integer>-100</integer>
		<key>four</key>
		<integer>0</integer>
		<key>one</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_X.ss03</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>less.ss01</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y.ss03</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-200</integer>
		<key>at.ss01</key>
		<integer>-100</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>less.ss01</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
		<key>three</key>
		<integer>-100</integer>
		<key>two</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_Y.ss04</key>
	<dict>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>dagger.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>bracketright.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_backslash</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-300</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-200</integer>
		<key>asciicircum</key>
		<integer>-200</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>dagger.ss02</key>
		<integer>-200</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_backslash.ss02</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_dagger</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_dcaron</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_dcroat</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_ellipsis</key>
	<dict>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-300</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-200</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-200</integer>
		<key>braceleft</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>trademark</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_guilsinglright</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_hbar</key>
	<dict>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>greater.case</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_northWestArrow</key>
	<dict>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_p</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_parenleft.ss02</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-200</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>Y.ss04</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_periodcentered</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_periodcentered.case</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>greater.case</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_question</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>0</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_question.ss04</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_questiondown.ss02</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-100</integer>
		<key>@MMK_R_C</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_Oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_S</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_U</key>
		<integer>-100</integer>
		<key>@MMK_R_X.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Z</key>
		<integer>-100</integer>
		<key>@MMK_R_a</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-200</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-100</integer>
		<key>@MMK_R_g</key>
		<integer>-100</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>@MMK_R_y.ss02</key>
		<integer>-100</integer>
		<key>J.ss04</key>
		<integer>0</integer>
		<key>ampersand.ss04</key>
		<integer>0</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>colon</key>
		<integer>0</integer>
		<key>colon.case</key>
		<integer>0</integer>
		<key>n</key>
		<integer>-100</integer>
		<key>semicolon.case</key>
		<integer>0</integer>
		<key>semicolon.ss02</key>
		<integer>0</integer>
		<key>semicolon.ss02.case</key>
		<integer>0</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>dcroat.ss04</key>
		<integer>0</integer>
		<key>j</key>
		<integer>-100</integer>
		<key>j.ss04</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_parenright.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_slash</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_J.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_comma</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-300</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
		<key>@MMK_R_period</key>
		<integer>-200</integer>
		<key>@MMK_R_periodcentered</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_r</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-300</integer>
		<key>@MMK_R_underscore</key>
		<integer>-200</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-300</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>cent</key>
		<integer>-100</integer>
		<key>slash.sups</key>
		<integer>-200</integer>
		<key>space</key>
		<integer>-100</integer>
		<key>sterling</key>
		<integer>-100</integer>
		<key>sterling.ss04</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_trademark</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_underscore</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-200</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-200</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
		<key>u1F69A</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_underscore.ss02</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-100</integer>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_J</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_U</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-200</integer>
		<key>@MMK_R_backslash</key>
		<integer>-300</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_c</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_eth</key>
		<integer>-100</integer>
		<key>@MMK_R_four</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>@MMK_R_trademark</key>
		<integer>-200</integer>
		<key>J.ss04</key>
		<integer>0</integer>
		<key>braceleft</key>
		<integer>-100</integer>
		<key>braceleft.ss02</key>
		<integer>-100</integer>
		<key>dcroat.ss04</key>
		<integer>0</integer>
		<key>four</key>
		<integer>-100</integer>
		<key>j.ss04</key>
		<integer>0</integer>
		<key>s</key>
		<integer>0</integer>
	</dict>
	<key>L.ss01</key>
	<dict>
		<key>@MMK_R_heart</key>
		<integer>-100</integer>
	</dict>
	<key>Y.ss04</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>0</integer>
		<key>@MMK_R_questiondown</key>
		<integer>0</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>0</integer>
		<key>less.ss01</key>
		<integer>0</integer>
	</dict>
	<key>arrowdown</key>
	<dict>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>asciicircum</key>
	<dict>
		<key>@MMK_R_A.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_j.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-200</integer>
		<key>@MMK_R_underscore</key>
		<integer>-100</integer>
		<key>dcroat.ss04</key>
		<integer>0</integer>
		<key>j</key>
		<integer>-100</integer>
		<key>j.ss04</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>asciicircum.case</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
	</dict>
	<key>asciitilde</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
	</dict>
	<key>asciitilde.ss01</key>
	<dict>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_semicolon</key>
		<integer>-100</integer>
	</dict>
	<key>braceright</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_ellipsis</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>braceright.ss02</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_underscore.ss02</key>
		<integer>-100</integer>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>dagger.ss02</key>
	<dict>
		<key>@MMK_R_oslash</key>
		<integer>-100</integer>
	</dict>
	<key>degree</key>
	<dict>
		<key>space</key>
		<integer>-100</integer>
	</dict>
	<key>greater.ss01</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-200</integer>
		<key>Y.ss04</key>
		<integer>0</integer>
	</dict>
	<key>less.case</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
	</dict>
	<key>multiply.case</key>
	<dict>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
	</dict>
	<key>one.ss01</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Tbar</key>
		<integer>-100</integer>
		<key>@MMK_R_Y</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_g.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_periodcentered.case</key>
		<integer>-100</integer>
		<key>@MMK_R_q</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-100</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
	</dict>
	<key>space</key>
	<dict>
		<key>@MMK_R_Eth</key>
		<integer>-100</integer>
		<key>@MMK_R_Hbar</key>
		<integer>-100</integer>
		<key>@MMK_R_T</key>
		<integer>-100</integer>
		<key>@MMK_R_Y.ss03</key>
		<integer>-100</integer>
		<key>@MMK_R_backslash</key>
		<integer>-100</integer>
		<key>@MMK_R_dagger</key>
		<integer>-100</integer>
		<key>@MMK_R_dcroat</key>
		<integer>-100</integer>
		<key>@MMK_R_northEastArrow</key>
		<integer>-100</integer>
		<key>@MMK_R_question</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss02</key>
		<integer>-100</integer>
		<key>@MMK_R_questiondown.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_seven.ss04</key>
		<integer>-100</integer>
		<key>@MMK_R_slash</key>
		<integer>-100</integer>
		<key>@MMK_R_trademark</key>
		<integer>-100</integer>
		<key>arrowdown</key>
		<integer>-100</integer>
		<key>asciicircum</key>
		<integer>-100</integer>
		<key>braceleft.ss02</key>
		<integer>-100</integer>
		<key>dcroat.ss04</key>
		<integer>0</integer>
		<key>degree</key>
		<integer>-100</integer>
	</dict>
</dict>
</plist>
