<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.schriftgestaltung.DisplayStrings</key>
	<array>
	</array>
	<key>com.schriftgestaltung.disablesAutomaticAlignment</key>
	<false/>
	<key>com.schriftgestaltung.font.Axes</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Size</string>
			<key>Tag</key>
			<string>wght</string>
		</dict>
	</array>
	<key>com.schriftgestaltung.font.license</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.licenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>com.schriftgestaltung.font.userData</key>
	<dict>
		<key>LWPluginVersion</key>
		<string>1366</string>
	</dict>
	<key>com.schriftgestaltung.fontMaster.userData</key>
	<dict>
		<key>GSCornerRadius</key>
		<integer>72</integer>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>0E822802-0210-4F0A-A639-18356659452F</string>
	<key>com.schriftgestaltung.glyphOrder</key>
	<false/>
	<key>com.schriftgestaltung.master.name</key>
	<string>300</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<true/>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>300</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>D</string>
		<string>Eth</string>
		<string>Dcaron</string>
		<string>Dcroat</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>uni0122</string>
		<string>Gdotaccent</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Idotaccent</string>
		<string>Igrave</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>J</string>
		<string>K</string>
		<string>uni0136</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>uni013B</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni0145</string>
		<string>Eng</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0156</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>uni0218</string>
		<string>uni1E9E</string>
		<string>T</string>
		<string>Tbar</string>
		<string>Tcaron</string>
		<string>uni0162</string>
		<string>uni021A</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
		<string>AE.ss01</string>
		<string>E.ss01</string>
		<string>Eacute.ss01</string>
		<string>Ecaron.ss01</string>
		<string>Ecircumflex.ss01</string>
		<string>Edieresis.ss01</string>
		<string>Edotaccent.ss01</string>
		<string>Egrave.ss01</string>
		<string>Emacron.ss01</string>
		<string>Eogonek.ss01</string>
		<string>F.ss01</string>
		<string>Hbar.ss01</string>
		<string>I.ss01</string>
		<string>Iacute.ss01</string>
		<string>Icircumflex.ss01</string>
		<string>Idieresis.ss01</string>
		<string>Idotaccent.ss01</string>
		<string>Igrave.ss01</string>
		<string>Imacron.ss01</string>
		<string>Iogonek.ss01</string>
		<string>L.ss01</string>
		<string>Lacute.ss01</string>
		<string>Lcaron.ss01</string>
		<string>uni013B.ss01</string>
		<string>M.ss01</string>
		<string>Oslash.ss01</string>
		<string>OE.ss01</string>
		<string>uni1E9E.ss01</string>
		<string>W.ss01</string>
		<string>Wacute.ss01</string>
		<string>Wcircumflex.ss01</string>
		<string>Wdieresis.ss01</string>
		<string>Wgrave.ss01</string>
		<string>Q.ss02</string>
		<string>A.ss03</string>
		<string>Aacute.ss03</string>
		<string>Abreve.ss03</string>
		<string>Acircumflex.ss03</string>
		<string>Adieresis.ss03</string>
		<string>Agrave.ss03</string>
		<string>Amacron.ss03</string>
		<string>Aogonek.ss03</string>
		<string>Aring.ss03</string>
		<string>Atilde.ss03</string>
		<string>AE.ss03</string>
		<string>B.ss03</string>
		<string>C.ss03</string>
		<string>Cacute.ss03</string>
		<string>Ccaron.ss03</string>
		<string>Ccedilla.ss03</string>
		<string>Cdotaccent.ss03</string>
		<string>D.ss03</string>
		<string>Eth.ss03</string>
		<string>Dcaron.ss03</string>
		<string>G.ss03</string>
		<string>Gbreve.ss03</string>
		<string>uni0122.ss03</string>
		<string>Gdotaccent.ss03</string>
		<string>H.ss03</string>
		<string>J.ss03</string>
		<string>K.ss03</string>
		<string>uni0136.ss03</string>
		<string>Lcaron.ss03</string>
		<string>N.ss03</string>
		<string>Nacute.ss03</string>
		<string>Ncaron.ss03</string>
		<string>Eng.ss03</string>
		<string>Ntilde.ss03</string>
		<string>O.ss03</string>
		<string>Oacute.ss03</string>
		<string>Ocircumflex.ss03</string>
		<string>Odieresis.ss03</string>
		<string>Ograve.ss03</string>
		<string>Ohungarumlaut.ss03</string>
		<string>Omacron.ss03</string>
		<string>Otilde.ss03</string>
		<string>OE.ss03</string>
		<string>P.ss03</string>
		<string>Thorn.ss03</string>
		<string>Q.ss03</string>
		<string>R.ss03</string>
		<string>Racute.ss03</string>
		<string>Rcaron.ss03</string>
		<string>S.ss03</string>
		<string>Sacute.ss03</string>
		<string>Scaron.ss03</string>
		<string>Scedilla.ss03</string>
		<string>uni0218.ss03</string>
		<string>U.ss03</string>
		<string>Uacute.ss03</string>
		<string>Ucircumflex.ss03</string>
		<string>Udieresis.ss03</string>
		<string>Ugrave.ss03</string>
		<string>Uhungarumlaut.ss03</string>
		<string>Umacron.ss03</string>
		<string>Uogonek.ss03</string>
		<string>Uring.ss03</string>
		<string>V.ss03</string>
		<string>X.ss03</string>
		<string>Y.ss03</string>
		<string>Yacute.ss03</string>
		<string>Ycircumflex.ss03</string>
		<string>Ydieresis.ss03</string>
		<string>Ygrave.ss03</string>
		<string>Q.ss02.ss03</string>
		<string>A.ss04</string>
		<string>Aacute.ss04</string>
		<string>Abreve.ss04</string>
		<string>Acircumflex.ss04</string>
		<string>Adieresis.ss04</string>
		<string>Agrave.ss04</string>
		<string>Amacron.ss04</string>
		<string>Aogonek.ss04</string>
		<string>Aring.ss04</string>
		<string>Atilde.ss04</string>
		<string>AE.ss04</string>
		<string>B.ss04</string>
		<string>C.ss04</string>
		<string>Cacute.ss04</string>
		<string>Ccaron.ss04</string>
		<string>Ccedilla.ss04</string>
		<string>Cdotaccent.ss04</string>
		<string>D.ss04</string>
		<string>Eth.ss04</string>
		<string>Dcaron.ss04</string>
		<string>G.ss04</string>
		<string>Gbreve.ss04</string>
		<string>uni0122.ss04</string>
		<string>Gdotaccent.ss04</string>
		<string>J.ss04</string>
		<string>K.ss04</string>
		<string>uni0136.ss04</string>
		<string>M.ss04</string>
		<string>N.ss04</string>
		<string>Nacute.ss04</string>
		<string>Ncaron.ss04</string>
		<string>Eng.ss04</string>
		<string>Ntilde.ss04</string>
		<string>O.ss04</string>
		<string>Oacute.ss04</string>
		<string>Ocircumflex.ss04</string>
		<string>Odieresis.ss04</string>
		<string>Ograve.ss04</string>
		<string>Ohungarumlaut.ss04</string>
		<string>Omacron.ss04</string>
		<string>Oslash.ss04</string>
		<string>Otilde.ss04</string>
		<string>OE.ss04</string>
		<string>P.ss04</string>
		<string>Thorn.ss04</string>
		<string>Q.ss04</string>
		<string>R.ss04</string>
		<string>Racute.ss04</string>
		<string>Rcaron.ss04</string>
		<string>S.ss04</string>
		<string>Sacute.ss04</string>
		<string>Scaron.ss04</string>
		<string>Scedilla.ss04</string>
		<string>uni0218.ss04</string>
		<string>uni1E9E.ss04</string>
		<string>U.ss04</string>
		<string>Uacute.ss04</string>
		<string>Ucircumflex.ss04</string>
		<string>Udieresis.ss04</string>
		<string>Ugrave.ss04</string>
		<string>Uhungarumlaut.ss04</string>
		<string>Umacron.ss04</string>
		<string>Uogonek.ss04</string>
		<string>Uring.ss04</string>
		<string>V.ss04</string>
		<string>W.ss04</string>
		<string>Wacute.ss04</string>
		<string>Wcircumflex.ss04</string>
		<string>Wdieresis.ss04</string>
		<string>Wgrave.ss04</string>
		<string>Y.ss04</string>
		<string>Yacute.ss04</string>
		<string>Ycircumflex.ss04</string>
		<string>Ydieresis.ss04</string>
		<string>Ygrave.ss04</string>
		<string>AE.ss01.ss04</string>
		<string>Oslash.ss01.ss04</string>
		<string>OE.ss01.ss04</string>
		<string>uni1E9E.ss01.ss04</string>
		<string>Q.ss02.ss04</string>
		<string>A.ss03.ss04</string>
		<string>Aacute.ss03.ss04</string>
		<string>Abreve.ss03.ss04</string>
		<string>Acircumflex.ss03.ss04</string>
		<string>Adieresis.ss03.ss04</string>
		<string>Agrave.ss03.ss04</string>
		<string>Amacron.ss03.ss04</string>
		<string>Aogonek.ss03.ss04</string>
		<string>Aring.ss03.ss04</string>
		<string>Atilde.ss03.ss04</string>
		<string>AE.ss03.ss04</string>
		<string>B.ss03.ss04</string>
		<string>C.ss03.ss04</string>
		<string>Cacute.ss03.ss04</string>
		<string>Ccaron.ss03.ss04</string>
		<string>Ccedilla.ss03.ss04</string>
		<string>Cdotaccent.ss03.ss04</string>
		<string>D.ss03.ss04</string>
		<string>Eth.ss03.ss04</string>
		<string>Dcaron.ss03.ss04</string>
		<string>G.ss03.ss04</string>
		<string>Gbreve.ss03.ss04</string>
		<string>uni0122.ss03.ss04</string>
		<string>Gdotaccent.ss03.ss04</string>
		<string>J.ss03.ss04</string>
		<string>K.ss03.ss04</string>
		<string>uni0136.ss03.ss04</string>
		<string>N.ss03.ss04</string>
		<string>Nacute.ss03.ss04</string>
		<string>Ncaron.ss03.ss04</string>
		<string>Eng.ss03.ss04</string>
		<string>Ntilde.ss03.ss04</string>
		<string>O.ss03.ss04</string>
		<string>Oacute.ss03.ss04</string>
		<string>Ocircumflex.ss03.ss04</string>
		<string>Odieresis.ss03.ss04</string>
		<string>Ograve.ss03.ss04</string>
		<string>Ohungarumlaut.ss03.ss04</string>
		<string>Omacron.ss03.ss04</string>
		<string>Otilde.ss03.ss04</string>
		<string>OE.ss03.ss04</string>
		<string>P.ss03.ss04</string>
		<string>Thorn.ss03.ss04</string>
		<string>Q.ss03.ss04</string>
		<string>R.ss03.ss04</string>
		<string>Racute.ss03.ss04</string>
		<string>Rcaron.ss03.ss04</string>
		<string>S.ss03.ss04</string>
		<string>Sacute.ss03.ss04</string>
		<string>Scaron.ss03.ss04</string>
		<string>Scedilla.ss03.ss04</string>
		<string>uni0218.ss03.ss04</string>
		<string>U.ss03.ss04</string>
		<string>Uacute.ss03.ss04</string>
		<string>Ucircumflex.ss03.ss04</string>
		<string>Udieresis.ss03.ss04</string>
		<string>Ugrave.ss03.ss04</string>
		<string>Umacron.ss03.ss04</string>
		<string>Uogonek.ss03.ss04</string>
		<string>Uring.ss03.ss04</string>
		<string>Utilde.ss03.ss04</string>
		<string>V.ss03.ss04</string>
		<string>Y.ss03.ss04</string>
		<string>Yacute.ss03.ss04</string>
		<string>Ycircumflex.ss03.ss04</string>
		<string>Ydieresis.ss03.ss04</string>
		<string>Ygrave.ss03.ss04</string>
		<string>Q.ss02.ss03.ss04</string>
		<string>C.ss05</string>
		<string>Cacute.ss05</string>
		<string>Ccaron.ss05</string>
		<string>Ccedilla.ss05</string>
		<string>Cdotaccent.ss05</string>
		<string>W.ss05</string>
		<string>Wacute.ss05</string>
		<string>Wcircumflex.ss05</string>
		<string>Wdieresis.ss05</string>
		<string>Wgrave.ss05</string>
		<string>A.ss03.ss05</string>
		<string>Aacute.ss03.ss05</string>
		<string>Abreve.ss03.ss05</string>
		<string>Acircumflex.ss03.ss05</string>
		<string>Adieresis.ss03.ss05</string>
		<string>Agrave.ss03.ss05</string>
		<string>Amacron.ss03.ss05</string>
		<string>Aogonek.ss03.ss05</string>
		<string>Aring.ss03.ss05</string>
		<string>Atilde.ss03.ss05</string>
		<string>C.ss03.ss05</string>
		<string>Cacute.ss03.ss05</string>
		<string>Ccaron.ss03.ss05</string>
		<string>Ccedilla.ss03.ss05</string>
		<string>Cdotaccent.ss03.ss05</string>
		<string>C.ss04.ss05</string>
		<string>Cacute.ss04.ss05</string>
		<string>Ccaron.ss04.ss05</string>
		<string>Ccedilla.ss04.ss05</string>
		<string>Cdotaccent.ss04.ss05</string>
		<string>W.ss04.ss05</string>
		<string>Wacute.ss04.ss05</string>
		<string>Wcircumflex.ss04.ss05</string>
		<string>Wdieresis.ss04.ss05</string>
		<string>Wgrave.ss04.ss05</string>
		<string>A.ss03.ss04.ss05</string>
		<string>Aacute.ss03.ss04.ss05</string>
		<string>Abreve.ss03.ss04.ss05</string>
		<string>Acircumflex.ss03.ss04.ss05</string>
		<string>Adieresis.ss03.ss04.ss05</string>
		<string>Agrave.ss03.ss04.ss05</string>
		<string>Amacron.ss03.ss04.ss05</string>
		<string>Aogonek.ss03.ss04.ss05</string>
		<string>Aring.ss03.ss04.ss05</string>
		<string>Atilde.ss03.ss04.ss05</string>
		<string>C.ss03.ss04.ss05</string>
		<string>Cacute.ss03.ss04.ss05</string>
		<string>Ccaron.ss03.ss04.ss05</string>
		<string>Ccedilla.ss03.ss04.ss05</string>
		<string>Cdotaccent.ss03.ss04.ss05</string>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>eth</string>
		<string>dcaron</string>
		<string>dcroat</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>f</string>
		<string>g</string>
		<string>gbreve</string>
		<string>uni0123</string>
		<string>gdotaccent</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>i.loclTRK</string>
		<string>igrave</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>j</string>
		<string>k</string>
		<string>uni0137</string>
		<string>l</string>
		<string>lacute</string>
		<string>lcaron</string>
		<string>uni013C</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>uni0146</string>
		<string>eng</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>uni0157</string>
		<string>s</string>
		<string>sacute</string>
		<string>scaron</string>
		<string>scedilla</string>
		<string>uni0219</string>
		<string>germandbls</string>
		<string>t</string>
		<string>tbar</string>
		<string>tcaron</string>
		<string>uni0163</string>
		<string>uni021B</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
		<string>lslash.001</string>
		<string>ae.ss01</string>
		<string>dcaron.ss01</string>
		<string>f.ss01</string>
		<string>i.ss01</string>
		<string>dotlessi.ss01</string>
		<string>iacute.ss01</string>
		<string>icircumflex.ss01</string>
		<string>idieresis.ss01</string>
		<string>i.loclTRK.ss01</string>
		<string>igrave.ss01</string>
		<string>imacron.ss01</string>
		<string>iogonek.ss01</string>
		<string>l.ss01</string>
		<string>lacute.ss01</string>
		<string>lcaron.ss01</string>
		<string>uni013C.ss01</string>
		<string>lslash.ss01</string>
		<string>m.ss01</string>
		<string>oe.ss01</string>
		<string>r.ss01</string>
		<string>racute.ss01</string>
		<string>rcaron.ss01</string>
		<string>uni0157.ss01</string>
		<string>s.ss01</string>
		<string>sacute.ss01</string>
		<string>scaron.ss01</string>
		<string>scedilla.ss01</string>
		<string>uni0219.ss01</string>
		<string>germandbls.ss01</string>
		<string>t.ss01</string>
		<string>tbar.ss01</string>
		<string>tcaron.ss01</string>
		<string>uni0163.ss01</string>
		<string>uni021B.ss01</string>
		<string>w.ss01</string>
		<string>wacute.ss01</string>
		<string>wcircumflex.ss01</string>
		<string>wdieresis.ss01</string>
		<string>wgrave.ss01</string>
		<string>z.ss01</string>
		<string>zacute.ss01</string>
		<string>zcaron.ss01</string>
		<string>zdotaccent.ss01</string>
		<string>g.ss02</string>
		<string>gbreve.ss02</string>
		<string>uni0123.ss02</string>
		<string>gdotaccent.ss02</string>
		<string>i.ss02</string>
		<string>i.loclTRK.ss02</string>
		<string>j.ss02</string>
		<string>p.ss02</string>
		<string>q.ss02</string>
		<string>i.ss01.ss02</string>
		<string>dotlessi.ss01.ss02</string>
		<string>iacute.ss01.ss02</string>
		<string>icircumflex.ss01.ss02</string>
		<string>idieresis.ss01.ss02</string>
		<string>i.loclTRK.ss01.ss02</string>
		<string>igrave.ss01.ss02</string>
		<string>y.ss02</string>
		<string>yacute.ss02</string>
		<string>ycircumflex.ss02</string>
		<string>ydieresis.ss02</string>
		<string>ygrave.ss02</string>
		<string>a.ss04</string>
		<string>aacute.ss04</string>
		<string>abreve.ss04</string>
		<string>acircumflex.ss04</string>
		<string>adieresis.ss04</string>
		<string>agrave.ss04</string>
		<string>amacron.ss04</string>
		<string>aogonek.ss04</string>
		<string>aring.ss04</string>
		<string>atilde.ss04</string>
		<string>ae.ss04</string>
		<string>b.ss04</string>
		<string>c.ss04</string>
		<string>cacute.ss04</string>
		<string>ccaron.ss04</string>
		<string>ccedilla.ss04</string>
		<string>cdotaccent.ss04</string>
		<string>d.ss04</string>
		<string>eth.ss04</string>
		<string>dcaron.ss04</string>
		<string>dcroat.ss04</string>
		<string>e.ss04</string>
		<string>eacute.ss04</string>
		<string>ecaron.ss04</string>
		<string>ecircumflex.ss04</string>
		<string>edieresis.ss04</string>
		<string>edotaccent.ss04</string>
		<string>egrave.ss04</string>
		<string>emacron.ss04</string>
		<string>eogonek.ss04</string>
		<string>f.ss04</string>
		<string>g.ss04</string>
		<string>gbreve.ss04</string>
		<string>uni0123.ss04</string>
		<string>gdotaccent.ss04</string>
		<string>h.ss04</string>
		<string>j.ss04</string>
		<string>k.ss04</string>
		<string>uni0137.ss04</string>
		<string>m.ss04</string>
		<string>n.ss04</string>
		<string>nacute.ss04</string>
		<string>ncaron.ss04</string>
		<string>uni0146.ss04</string>
		<string>eng.ss04</string>
		<string>ntilde.ss04</string>
		<string>o.ss04</string>
		<string>oacute.ss04</string>
		<string>ocircumflex.ss04</string>
		<string>odieresis.ss04</string>
		<string>ograve.ss04</string>
		<string>ohungarumlaut.ss04</string>
		<string>omacron.ss04</string>
		<string>oslash.ss04</string>
		<string>otilde.ss04</string>
		<string>oe.ss04</string>
		<string>p.ss04</string>
		<string>thorn.ss04</string>
		<string>q.ss04</string>
		<string>r.ss04</string>
		<string>racute.ss04</string>
		<string>rcaron.ss04</string>
		<string>uni0157.ss04</string>
		<string>s.ss04</string>
		<string>sacute.ss04</string>
		<string>scaron.ss04</string>
		<string>scedilla.ss04</string>
		<string>uni0219.ss04</string>
		<string>germandbls.ss04</string>
		<string>ae.ss01.ss04</string>
		<string>dcaron.ss01.ss04</string>
		<string>f.ss01.ss04</string>
		<string>oe.ss01.ss04</string>
		<string>r.ss01.ss04</string>
		<string>racute.ss01.ss04</string>
		<string>rcaron.ss01.ss04</string>
		<string>uni0157.ss01.ss04</string>
		<string>s.ss01.ss04</string>
		<string>sacute.ss01.ss04</string>
		<string>scaron.ss01.ss04</string>
		<string>scedilla.ss01.ss04</string>
		<string>uni0219.ss01.ss04</string>
		<string>germandbls.ss01.ss04</string>
		<string>t.ss01.ss04</string>
		<string>tbar.ss01.ss04</string>
		<string>tcaron.ss01.ss04</string>
		<string>uni0163.ss01.ss04</string>
		<string>uni021B.ss01.ss04</string>
		<string>g.ss02.ss04</string>
		<string>gbreve.ss02.ss04</string>
		<string>uni0123.ss02.ss04</string>
		<string>gdotaccent.ss02.ss04</string>
		<string>j.ss02.ss04</string>
		<string>p.ss02.ss04</string>
		<string>q.ss02.ss04</string>
		<string>y.ss02.ss04</string>
		<string>yacute.ss02.ss04</string>
		<string>ycircumflex.ss02.ss04</string>
		<string>ydieresis.ss02.ss04</string>
		<string>ygrave.ss02.ss04</string>
		<string>t.ss04</string>
		<string>tbar.ss04</string>
		<string>tcaron.ss04</string>
		<string>uni0163.ss04</string>
		<string>uni021B.ss04</string>
		<string>u.ss04</string>
		<string>uacute.ss04</string>
		<string>ucircumflex.ss04</string>
		<string>udieresis.ss04</string>
		<string>ugrave.ss04</string>
		<string>uhungarumlaut.ss04</string>
		<string>umacron.ss04</string>
		<string>uogonek.ss04</string>
		<string>uring.ss04</string>
		<string>v.ss04</string>
		<string>w.ss04</string>
		<string>wacute.ss04</string>
		<string>wcircumflex.ss04</string>
		<string>wdieresis.ss04</string>
		<string>wgrave.ss04</string>
		<string>y.ss04</string>
		<string>yacute.ss04</string>
		<string>ycircumflex.ss04</string>
		<string>ydieresis.ss04</string>
		<string>ygrave.ss04</string>
		<string>c.ss05</string>
		<string>cacute.ss05</string>
		<string>ccaron.ss05</string>
		<string>ccedilla.ss05</string>
		<string>cdotaccent.ss05</string>
		<string>c.ss04.ss05</string>
		<string>cacute.ss04.ss05</string>
		<string>ccaron.ss04.ss05</string>
		<string>ccedilla.ss04.ss05</string>
		<string>cdotaccent.ss04.ss05</string>
		<string>w.ss04.ss05</string>
		<string>wacute.ss04.ss05</string>
		<string>wcircumflex.ss04.ss05</string>
		<string>wdieresis.ss04.ss05</string>
		<string>wgrave.ss04.ss05</string>
		<string>w.ss05</string>
		<string>wacute.ss05</string>
		<string>wcircumflex.ss05</string>
		<string>wdieresis.ss05</string>
		<string>wgrave.ss05</string>
		<string>adieresis.ss06</string>
		<string>amacron.ss06</string>
		<string>cdotaccent.ss06</string>
		<string>edieresis.ss06</string>
		<string>edotaccent.ss06</string>
		<string>emacron.ss06</string>
		<string>gdotaccent.ss06</string>
		<string>idieresis.ss06</string>
		<string>imacron.ss06</string>
		<string>odieresis.ss06</string>
		<string>omacron.ss06</string>
		<string>idieresis.ss01.ss06</string>
		<string>imacron.ss01.ss06</string>
		<string>adieresis.ss04.ss06</string>
		<string>amacron.ss04.ss06</string>
		<string>cdotaccent.ss04.ss06</string>
		<string>edieresis.ss04.ss06</string>
		<string>edotaccent.ss04.ss06</string>
		<string>emacron.ss04.ss06</string>
		<string>odieresis.ss04.ss06</string>
		<string>omacron.ss04.ss06</string>
		<string>udieresis.ss04.ss06</string>
		<string>umacron.ss04.ss06</string>
		<string>wdieresis.ss04.ss06</string>
		<string>ydieresis.ss04.ss06</string>
		<string>wdieresis.ss04.ss05.ss06</string>
		<string>wdieresis.ss05.ss06</string>
		<string>udieresis.ss06</string>
		<string>umacron.ss06</string>
		<string>wdieresis.ss06</string>
		<string>ydieresis.ss06</string>
		<string>a.ss06</string>
		<string>c.ss06</string>
		<string>e.ss06</string>
		<string>dotlessi.ss06</string>
		<string>o.ss06</string>
		<string>a.ss04.ss06</string>
		<string>c.ss04.ss06</string>
		<string>e.ss04.ss06</string>
		<string>o.ss04.ss06</string>
		<string>u.ss04.ss06</string>
		<string>u.ss06</string>
		<string>T_I_N_Y</string>
		<string>V_T_F</string>
		<string>W_W_W</string>
		<string>w_w_w</string>
		<string>V_T_F.ss02</string>
		<string>W_W_W.ss04</string>
		<string>w_w_w.ss04</string>
		<string>W_W_W.ss05</string>
		<string>W_W_W.ss04.ss05</string>
		<string>w_w_w.ss04.ss05</string>
		<string>w_w_w.ss05</string>
		<string>a.sc</string>
		<string>b.sc</string>
		<string>d.sc</string>
		<string>f.sc</string>
		<string>g.sc</string>
		<string>h.sc</string>
		<string>i.sc</string>
		<string>j.sc</string>
		<string>k.sc</string>
		<string>l.sc</string>
		<string>m.sc</string>
		<string>q.sc</string>
		<string>r.sc</string>
		<string>t.sc</string>
		<string>y.sc</string>
		<string>S_T.sups.ss04</string>
		<string>A.sups</string>
		<string>B.sups</string>
		<string>C.sups</string>
		<string>D.sups</string>
		<string>E.sups</string>
		<string>F.sups</string>
		<string>G.sups</string>
		<string>H.sups</string>
		<string>I.sups</string>
		<string>J.sups</string>
		<string>K.sups</string>
		<string>L.sups</string>
		<string>M.sups</string>
		<string>N.sups</string>
		<string>O.sups</string>
		<string>P.sups</string>
		<string>Q.sups</string>
		<string>R.sups</string>
		<string>S.sups</string>
		<string>S_T.sups</string>
		<string>T.sups</string>
		<string>T_H.sups</string>
		<string>U.sups</string>
		<string>V.sups</string>
		<string>W.sups</string>
		<string>W_W_W.sups</string>
		<string>X.sups</string>
		<string>Y.sups</string>
		<string>Z.sups</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>zero.osf</string>
		<string>one.osf</string>
		<string>two.osf</string>
		<string>three.osf</string>
		<string>four.osf</string>
		<string>five.osf</string>
		<string>seven.osf</string>
		<string>nine.osf</string>
		<string>zero.osf.ss04</string>
		<string>two.osf.ss04</string>
		<string>three.osf.ss04</string>
		<string>four.osf.ss04</string>
		<string>five.osf.ss04</string>
		<string>seven.osf.ss04</string>
		<string>nine.osf.ss04</string>
		<string>one.ss01</string>
		<string>one.ss01.dnom</string>
		<string>one.ss01.numr</string>
		<string>one.ss01.osf</string>
		<string>zero.ss04</string>
		<string>two.ss04</string>
		<string>three.ss04</string>
		<string>four.ss04</string>
		<string>five.ss04</string>
		<string>six.ss04</string>
		<string>seven.ss04</string>
		<string>eight.ss04</string>
		<string>nine.ss04</string>
		<string>zero.dnom</string>
		<string>one.dnom</string>
		<string>two.dnom</string>
		<string>three.dnom</string>
		<string>four.dnom</string>
		<string>five.dnom</string>
		<string>six.dnom</string>
		<string>seven.dnom</string>
		<string>eight.dnom</string>
		<string>nine.dnom</string>
		<string>zero.numr</string>
		<string>one.numr</string>
		<string>two.numr</string>
		<string>three.numr</string>
		<string>four.numr</string>
		<string>five.numr</string>
		<string>six.numr</string>
		<string>seven.numr</string>
		<string>eight.numr</string>
		<string>nine.numr</string>
		<string>fraction</string>
		<string>uni215F</string>
		<string>onehalf</string>
		<string>uni2153</string>
		<string>uni2154</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni2155</string>
		<string>uni2156</string>
		<string>uni2157</string>
		<string>uni2158</string>
		<string>uni2159</string>
		<string>uni215A</string>
		<string>uni2150</string>
		<string>oneeighth</string>
		<string>threeeighths</string>
		<string>fiveeighths</string>
		<string>seveneighths</string>
		<string>uni2151</string>
		<string>zero.dnom.ss04</string>
		<string>two.dnom.ss04</string>
		<string>three.dnom.ss04</string>
		<string>five.dnom.ss04</string>
		<string>six.dnom.ss04</string>
		<string>seven.dnom.ss04</string>
		<string>eight.dnom.ss04</string>
		<string>nine.dnom.ss04</string>
		<string>zero.numr.ss04</string>
		<string>two.numr.ss04</string>
		<string>three.numr.ss04</string>
		<string>five.numr.ss04</string>
		<string>six.numr.ss04</string>
		<string>seven.numr.ss04</string>
		<string>eight.numr.ss04</string>
		<string>nine.numr.ss04</string>
		<string>onehalf.ss04</string>
		<string>uni2153.ss04</string>
		<string>uni2154.ss04</string>
		<string>threequarters.ss04</string>
		<string>uni2155.ss04</string>
		<string>uni2156.ss04</string>
		<string>uni2157.ss04</string>
		<string>uni2158.ss04</string>
		<string>uni2159.ss04</string>
		<string>uni215A.ss04</string>
		<string>uni2150.ss04</string>
		<string>oneeighth.ss04</string>
		<string>threeeighths.ss04</string>
		<string>fiveeighths.ss04</string>
		<string>seveneighths.ss04</string>
		<string>uni2151.ss04</string>
		<string>uni2160</string>
		<string>uni2161</string>
		<string>uni2162</string>
		<string>uni2163</string>
		<string>uni2164</string>
		<string>uni2165</string>
		<string>uni2166</string>
		<string>uni2167</string>
		<string>uni2168</string>
		<string>uni2169</string>
		<string>uni216C</string>
		<string>uni216D</string>
		<string>uni216E</string>
		<string>uni216F</string>
		<string>uni2161.ss01</string>
		<string>uni2163.ss01</string>
		<string>uni2165.ss01</string>
		<string>uni2167.ss01</string>
		<string>uni2169.ss01</string>
		<string>uni216C.ss01</string>
		<string>uni216E.ss01</string>
		<string>period</string>
		<string>comma</string>
		<string>colon</string>
		<string>semicolon</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>question</string>
		<string>questiondown</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>asterisk</string>
		<string>numbersign</string>
		<string>uni203B</string>
		<string>slash</string>
		<string>backslash</string>
		<string>uni205E</string>
		<string>colon.case</string>
		<string>semicolon.case</string>
		<string>periodcentered.case</string>
		<string>colon.ss01.case</string>
		<string>semicolon.ss01.case</string>
		<string>periodcentered.ss01.case</string>
		<string>slash.ss01.case</string>
		<string>backslash.ss01.case</string>
		<string>semicolon.ss02.case</string>
		<string>semicolon.ss01.ss02.case</string>
		<string>period.ss01</string>
		<string>comma.ss01</string>
		<string>colon.ss01</string>
		<string>semicolon.ss01</string>
		<string>ellipsis.ss01</string>
		<string>exclam.ss01</string>
		<string>exclamdown.ss01</string>
		<string>periodcentered.ss01</string>
		<string>asterisk.ss01</string>
		<string>numbersign.ss01</string>
		<string>slash.ss01</string>
		<string>backslash.ss01</string>
		<string>uni205E.ss01</string>
		<string>comma.ss02</string>
		<string>semicolon.ss02</string>
		<string>exclamdown.ss02</string>
		<string>questiondown.ss02</string>
		<string>slash.ss02</string>
		<string>backslash.ss02</string>
		<string>comma.ss01.ss02</string>
		<string>semicolon.ss01.ss02</string>
		<string>question.ss04</string>
		<string>questiondown.ss04</string>
		<string>questiondown.ss02.ss04</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft.ss01</string>
		<string>parenright.ss01</string>
		<string>bracketleft.ss01</string>
		<string>bracketright.ss01</string>
		<string>parenleft.ss02</string>
		<string>parenright.ss02</string>
		<string>braceleft.ss02</string>
		<string>braceright.ss02</string>
		<string>bracketleft.ss02</string>
		<string>bracketright.ss02</string>
		<string>parenleft.ss01.ss02</string>
		<string>parenright.ss01.ss02</string>
		<string>bracketleft.ss01.ss02</string>
		<string>bracketright.ss01.ss02</string>
		<string>hyphen</string>
		<string>endash</string>
		<string>emdash</string>
		<string>underscore</string>
		<string>hyphen.ss01</string>
		<string>endash.ss01</string>
		<string>emdash.ss01</string>
		<string>underscore.ss02</string>
		<string>quotesinglbase</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>quotesinglbase.ss01</string>
		<string>quotedblbase.ss01</string>
		<string>quotedblleft.ss01</string>
		<string>quotedblright.ss01</string>
		<string>quoteleft.ss01</string>
		<string>quoteright.ss01</string>
		<string>guillemotleft.ss01</string>
		<string>guillemotright.ss01</string>
		<string>guilsinglleft.ss01</string>
		<string>guilsinglright.ss01</string>
		<string>quotesingle.ss01</string>
		<string>parenleft.sups.ss02</string>
		<string>parenright.sups.ss02</string>
		<string>parenleft.sups</string>
		<string>parenright.sups</string>
		<string>period.sups</string>
		<string>colon.sups</string>
		<string>slash.sups</string>
		<string>space</string>
		<string>space.ss01</string>
		<string>.notdef</string>
		<string>uni20BF</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>dollar.osf</string>
		<string>cent.ss02</string>
		<string>uni20BF.ss04</string>
		<string>cent.ss04</string>
		<string>dollar.ss04</string>
		<string>Euro.ss04</string>
		<string>dollar.osf.ss04</string>
		<string>cent.ss02.ss04</string>
		<string>sterling.ss04</string>
		<string>plus</string>
		<string>minus</string>
		<string>multiply</string>
		<string>divide</string>
		<string>equal</string>
		<string>notequal</string>
		<string>greater</string>
		<string>less</string>
		<string>greaterequal</string>
		<string>lessequal</string>
		<string>plusminus</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>logicalnot</string>
		<string>asciicircum</string>
		<string>emptyset</string>
		<string>infinity</string>
		<string>integral</string>
		<string>product</string>
		<string>summation</string>
		<string>radical</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>uni2031</string>
		<string>perthousand</string>
		<string>uni22BE</string>
		<string>plus.case</string>
		<string>minus.case</string>
		<string>multiply.case</string>
		<string>divide.case</string>
		<string>equal.case</string>
		<string>notequal.case</string>
		<string>greater.case</string>
		<string>less.case</string>
		<string>plusminus.case</string>
		<string>approxequal.case</string>
		<string>asciicircum.case</string>
		<string>greater.ss01</string>
		<string>less.ss01</string>
		<string>approxequal.ss01</string>
		<string>asciitilde.ss01</string>
		<string>infinity.ss01</string>
		<string>product.ss01</string>
		<string>summation.ss01</string>
		<string>radical.ss01</string>
		<string>percent.ss01</string>
		<string>uni2031.ss01</string>
		<string>perthousand.ss01</string>
		<string>uni22BE.ss01</string>
		<string>emptyset.ss02</string>
		<string>integral.ss02</string>
		<string>product.ss02</string>
		<string>summation.ss02</string>
		<string>radical.ss02</string>
		<string>product.ss01.ss02</string>
		<string>summation.ss01.ss02</string>
		<string>partialdiff.ss04</string>
		<string>arrowup</string>
		<string>uni2197</string>
		<string>arrowright</string>
		<string>uni2198</string>
		<string>arrowdown</string>
		<string>uni2199</string>
		<string>arrowleft</string>
		<string>uni2196</string>
		<string>arrowboth</string>
		<string>arrowupdn</string>
		<string>uni21A4</string>
		<string>uni21A5</string>
		<string>uni21A6</string>
		<string>uni21A7</string>
		<string>uni21B0</string>
		<string>uni21B1</string>
		<string>uni21B2</string>
		<string>uni21B3</string>
		<string>uni21C8</string>
		<string>arrowup.ss01</string>
		<string>uni2197.ss01</string>
		<string>arrowright.ss01</string>
		<string>uni2198.ss01</string>
		<string>arrowdown.ss01</string>
		<string>uni2199.ss01</string>
		<string>arrowleft.ss01</string>
		<string>uni2196.ss01</string>
		<string>uni21A4.ss01</string>
		<string>uni21A5.ss01</string>
		<string>uni21A6.ss01</string>
		<string>uni21A7.ss01</string>
		<string>uni21B0.ss01</string>
		<string>uni21B1.ss01</string>
		<string>uni21B2.ss01</string>
		<string>uni21B3.ss01</string>
		<string>uni21C8.ss01</string>
		<string>uni21C8.ss02</string>
		<string>uni21C8.ss01.ss02</string>
		<string>arrowup.ss04</string>
		<string>uni2197.ss04</string>
		<string>arrowright.ss04</string>
		<string>uni2198.ss04</string>
		<string>arrowdown.ss04</string>
		<string>uni2199.ss04</string>
		<string>arrowleft.ss04</string>
		<string>uni2196.ss04</string>
		<string>arrowup.ss01.ss04</string>
		<string>uni2197.ss01.ss04</string>
		<string>arrowright.ss01.ss04</string>
		<string>uni2198.ss01.ss04</string>
		<string>arrowdown.ss01.ss04</string>
		<string>uni2199.ss01.ss04</string>
		<string>arrowleft.ss01.ss04</string>
		<string>uni2196.ss01.ss04</string>
		<string>arrowup.ss02.ss04</string>
		<string>uni2197.ss02.ss04</string>
		<string>arrowright.ss02.ss04</string>
		<string>uni2198.ss02.ss04</string>
		<string>arrowdown.ss02.ss04</string>
		<string>uni2199.ss02.ss04</string>
		<string>arrowleft.ss02.ss04</string>
		<string>uni2196.ss02.ss04</string>
		<string>uni25CF</string>
		<string>circle</string>
		<string>uni25C6</string>
		<string>uni25C7</string>
		<string>lozenge</string>
		<string>triagup</string>
		<string>uni25B6</string>
		<string>triagdn</string>
		<string>uni25C0</string>
		<string>circle.ss01</string>
		<string>lozenge.ss01</string>
		<string>triagup.ss01</string>
		<string>uni25B6.ss01</string>
		<string>triagdn.ss01</string>
		<string>uni25C0.ss01</string>
		<string>circle.invert.ss01</string>
		<string>uni25CF.ss02</string>
		<string>circle.ss02</string>
		<string>lozenge.ss02</string>
		<string>sun</string>
		<string>uni2662</string>
		<string>heart</string>
		<string>diamond</string>
		<string>uni2690</string>
		<string>uni26A1</string>
		<string>uni2713</string>
		<string>uni2B8D</string>
		<string>uni2B8F</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>section</string>
		<string>copyright</string>
		<string>registered</string>
		<string>trademark</string>
		<string>degree</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni2116</string>
		<string>estimated</string>
		<string>uni23EA</string>
		<string>uni23E9</string>
		<string>u1F4C5</string>
		<string>u1F69A</string>
		<string>u1F415</string>
		<string>uni2B73</string>
		<string>u1F4CE</string>
		<string>u1F4CC</string>
		<string>uni2323</string>
		<string>u1F4AC</string>
		<string>uni2B81</string>
		<string>sun.ss01</string>
		<string>uni2662.ss01</string>
		<string>heart.ss01</string>
		<string>diamond.ss01</string>
		<string>uni26A1.ss01</string>
		<string>at.ss01</string>
		<string>ampersand.ss01</string>
		<string>paragraph.ss01</string>
		<string>copyright.ss01</string>
		<string>registered.ss01</string>
		<string>trademark.ss01</string>
		<string>estimated.ss01</string>
		<string>uni23EA.ss01</string>
		<string>uni23E9.ss01</string>
		<string>u1F4C5.ss01</string>
		<string>u1F415.ss01</string>
		<string>u1F4CC.ss01</string>
		<string>uni2323.ss01</string>
		<string>uni2B81.ss01</string>
		<string>at.ss02</string>
		<string>copyright.ss02</string>
		<string>registered.ss02</string>
		<string>bar.ss02</string>
		<string>brokenbar.ss02</string>
		<string>dagger.ss02</string>
		<string>daggerdbl.ss02</string>
		<string>uni2B73.ss02</string>
		<string>at.ss01.ss02</string>
		<string>copyright.ss01.ss02</string>
		<string>registered.ss01.ss02</string>
		<string>at.ss04</string>
		<string>ampersand.ss04</string>
		<string>paragraph.ss04</string>
		<string>section.ss04</string>
		<string>copyright.ss04</string>
		<string>registered.ss04</string>
		<string>degree.ss04</string>
		<string>uni2116.ss04</string>
		<string>at.ss01.ss04</string>
		<string>ampersand.ss01.ss04</string>
		<string>paragraph.ss01.ss04</string>
		<string>copyright.ss01.ss04</string>
		<string>registered.ss01.ss04</string>
		<string>at.ss02.ss04</string>
		<string>copyright.ss02.ss04</string>
		<string>registered.ss02.ss04</string>
		<string>at.ss01.ss02.ss04</string>
		<string>copyright.ss01.ss02.ss04</string>
		<string>registered.ss01.ss02.ss04</string>
		<string>ampersand.ss05</string>
		<string>ampersand.ss01.ss05</string>
		<string>ampersand.ss04.ss05</string>
		<string>ampersand.ss01.ss04.ss05</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0327.low.farRight</string>
		<string>uni030A.high</string>
		<string>uni0307.left</string>
		<string>acutecomb.left</string>
		<string>uni0302.left</string>
		<string>uni030C.left</string>
		<string>uni0306.left</string>
		<string>tildecomb.left</string>
		<string>uni0326.left</string>
		<string>uni0328.left</string>
		<string>gravecomb.low</string>
		<string>acutecomb.low</string>
		<string>uni030C.low</string>
		<string>uni0327.low</string>
		<string>gravecomb.right</string>
		<string>uni0326.right</string>
		<string>uni0328.right</string>
		<string>uni0327.low.right</string>
		<string>tildecomb.ss04</string>
		<string>tildecomb.left.ss04</string>
		<string>u1F12F</string>
		<string>u1F6F9</string>
		<string>u1F12F.ss01</string>
		<string>u1F6F9.ss01</string>
		<string>u1F12F.ss01.ss02</string>
		<string>u1F12F.ss02</string>
		<string>u1F12F.ss01.ss04</string>
		<string>u1F12F.ss01.ss02.ss04</string>
		<string>u1F12F.ss02.ss04</string>
		<string>u1F12F.ss04</string>
		<string>_part.dot</string>
		<string>expand</string>
		<string>letterslash</string>
		<string>letterbar</string>
		<string>high_voltage</string>
		<string>expand.ss01</string>
		<string>slashFieldStart</string>
		<string>slashFieldEnd</string>
		<string>hi</string>
	</array>
</dict>
</plist>
